<!DOCTYPE html>
<html>
<head>
  <title>Survey Email</title>
</head>
<body>
  <p>Hello <%= contactdata.email_id %>,</p>
  <p>Please participate in our survey: <%= postdata.survey %>.</p>
  <p>From: <%= tenantdata.tenant_name %></p>
</body>
</html>
